{% extends 'main/layout.html' %}

{% block title %}Удаление статьи{% endblock %}<

{% block content %}

<div class="features">
    <h1>Удаление статьи</h1>
    <div class="alert alert-dark">
        <p><big>Удалить статью:  "{{ article_delete.title }}" ?</big></p>
        <form method="post">
            {% csrf_token %} <!--обьязательный атрибут в Джанго для работы с формами-->
            <button class="btn btn-danger" type="submit">Подтвердить удаление</button>
        </form>
    </div>
</div>
{% endblock %}