{% extends 'main/layout.html' %}
{% block title %}{{ article_of_class_NewsDetailView.title }}{% endblock %}<

{% block content %}

<div class="features">
    <h1>{{ article_of_class_NewsDetailView.title }}</h1>
    <p>{{ article_of_class_NewsDetailView.date }}</p>
    <p>{{ article_of_class_NewsDetailView.full_text }}</p>
    <a href="{% url 'news-update' article_of_class_NewsDetailView.id %}" class="btn btn-warning">Редактировать статью</a>
    <a href="{% url 'news-delete' article_of_class_NewsDetailView.id %}" class="btn btn-danger">Удалить статью</a>
</div>
{% endblock %}