{% extends 'main/layout.html' %}

{% block title %}Articles{% endblock %}<

{% block content %}

<div class="features">
    <h1>Articles:</h1>
    {% if news %}
    <!--add a condition if there are no new articles-->
    {% for el in news %}
    <div class="alert alert-dark">
        <h3>{{ el.title }}</h3>
        <p>{{ el.anons }}</p>
        <a href="{% url 'news-detail' el.id  %}" class="btn btn-warning">Read more</a>
        <a href="{% url 'news-update' el.id  %}" class="btn btn-success">Edit</a>
        </div>
    {% endfor %}
    {% else %}
    <p>There are no new articles</p>
    {% endif %}

</div>
{% endblock %}