{% extends 'main/layout.html' %}

{% block title %}About us{% endblock %}<

{% block content %}
<div class="features" id="about">

    <h2>Information about the project and me</h2>
    <p class="container-fluid text-justify">This web blog was built on the basis of the Django framework, which works
        with the database and has the functionality to create, edit and delete articles</p>
    <p class="container-fluid text-justify">  This is my first project made with Django and if you are interested, you
        can check out the open source code at <a target="_blank" href="https://github.com/n-varvonets/Django-web-blog">GitHub</a>.
        You can also find there my two previous projects, in <a target="_blank"
                href="https://github.com/n-varvonets/MyTornadoWebProject-API.git">one</a> of which I passed the parsed
        data from a third-party API  to the database using MySQL and with the help of the Tornado-web framework rendered
        them on the site with the ability to specify the required date range. In the <a target="_blank"
                href="https://github.com/n-varvonets/web-blog-Flask">second</a> project I created a web-blog
        based on the Flask framework, where you can also add, edit and delete articles.</p>
    <p class="container-fluid text-justify">   The next step for me will be to creation an online store based on the Django
        framework with the possibility of authorization and user registration (model - User and Customer), leave
        comments, making payments online and creating personal store API.</p>
    <p class="container-fluid text-justify">   In the near future, I see myself as
        I am a strong Middle Python Developer and I think that in order to rise I need real practice, complete real
        tasks. So I will leave a link to my <a target="_blank"
                href="https://drive.google.com/file/d/1IScwvliO149o4igkYykp7kZ2XsXxWuOA/view?usp=sharing">CV</a> through
        which you can contact me. </p>
    <h4>{% include 'main/test_include.html' %}</h4>
</div>

{% endblock %}










