<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Про нас</title>
</head>
<body>
<h1>для того что не повторялось одни и те же строчки DRY
    в шаблонах используют шаблонизатор ДЖИДЖА
сравни к примеру с layout(макет) и там увидешь подобное
и там где меняются значения, мы просто создаем блоки,
в которые потом будем вписывать динамические данные,
т.е. те данные, которые будут менятся от страницы к сраницы,
а основа будет неизменна</h1>
</body>
