{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}<

{% block content %}
<!--создадим блок м назовем его используя класс: div.features(press tab) -->
<div class="features">
    <h1>{{ title }}</h1>

    <!--1)как вывести список в хтмл-->
    <p>{%for el in values %}
        {{ el }} <!--если добавить <p></p> - то будет выводиться значения ключа построчно, а не в одну строку-->
        {% endfor %}
    </p>

    <!--2)как вывести словарь в html--><!--{{ dict_obj }} : таким образом можно вывести весь словкарь,
     а при помощи цикла...   так же можно вывести просто один эелемент: {{ dict_obj.age }}-->
    <p>{%for el in dict_obj %}
        {{ el }}
        {% endfor %} </p>

    <!--3)можно добавить условие в список/словарь -->
    {%for key, value in dict_obj.items %}
    <!--обьязательно если работаем с ключ/значение, то перебираем словарь.iterms -->
    {% if key == 'age' %}
    <p> {{"3.)можно добавить услвие в шаблон и если ключ/значение словаря удовлтворяет условие, то выводим на принт (в
        index.html). В данном случае если key равняется age, то принтуем key + value: "}}{{ key }}{{ ' = ' }}{{ value }}
    </p> {% endif %}
    {% endfor %}

    <!--4)можно использовать фильтры (есть 2 способа)-->
    4.)можно использовать фильтры (есть 2 способа): <br>
    <p>4.1ый: {% filterupper знак_процента}__вывод данных__{% endfilter знак_процента}.Как результат все в
        загдлавном </p>
    {%for el in values %}
    {% filter upper%}
    {{ el }}
    {% endfilter %}
    {% endfor %} <br>
    <p>4.2ой: при выводе на печать эелемента указать вертикальеную черточку{ { el|lower }}.Как результат:.</p>
    {%for el in values %}
    {{ el|lower }}
    {% endfor %} <br>


    <button class="btn btn-info">Нажми на меня</button>
</div>
{% endblock %}