{% extends 'main/about.html' %}

{% block title %}contacts{% endblock %}<

{% block content %}

<div class="features text-left pl-5">
   <h2>My contacts</h2>
    <h3>linkedin: <a target="_blank" href="https://www.linkedin.com/in/nickolay-varvonets/"><i class="fab fa-linkedin-in"></i></a></h3>
    <h3>GitHub: <a target="_blank" href="https://github.com/n-varvonets"><i class="fab fa-github"></i></a></h3>
    <h3>Phone: 0939966844</h3>
    <h3>Email: nickolay.varvonets@gmail.com</h3>
    <h3>Location : Odessa, Ua</h3>
</div>
{% endblock %}