body {
    background : #f5f5dc;
}



aside {
    float: left /* расположение блока*/;
    background:#181818;
    width:25%;/* ширина блока */
    height:100vh;/* 100% высоты экрана */
    padding:2%;/* отступы блока */
    color: #fff;/* весь текст внутри блока */
    border-right : 5px solid #4d4d4d;/* обводка блока по правой стороне сплошная размером в 5 писилей с таким-то цветом */
    }

/* укажем что бы картинка была в блоке aside слевйо стороны меньшего размера*/
aside span {
    margin-left:30px;
    color: #f5f5dc;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    top: 5px;

}
aside h3{
    font-size: 120%;
    font-weight:bold;
    position: relative;
    top: 35px;
    left: -40px;
}

main h3{
    font-size:22px;
}

form{
    margin-left: 20%;
    width: 400px;
    margin-top: 30px;
}



aside ul li .btn-info{
    font-size: 12px;
    position: relative;
    left: -25px;
    top:10px;
}

aside ul li{
    font-size:14px;
    list-style:none; /* уберем перед списком кружочки списка*/
    line-height: 2.0;/* изменить интервал между строк*/
    position: relative;
    left: 15px;
    top:40px;
    color: #fff;
    transition: transform .4s ease;/* при наведение плавно увеличивается именно для эвефекта transform(что создал я ниже)*/
}

/* добавим еффект при наведение на список hover*/
aside ul li:hover, aside ul a:hover{
    color:#a49e77;
    text-decoration: none; /* при наведение не появляется подчеркивание */
    transform: scale(1.05); /* при наведение увеличивается */

}

aside img {
    width: 70px;
    float: left
   }

/*т.к. в layout.html  есть динамичный блок main, то обращаемся к классу в index.html через его назавние */
main .features{
    float: left;
    margin-top: 70px;
    text-align: center; /* делаю что бы текст находился по центру */
    width: 75%; /* хочу что бы этот юлок будет занимать 75%*/
}

.alert-dark{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 24%; /* игра с отступами */
    text-align: left; /* размещение текста в самом блоке */

}

main .features h1{font-size: 50px} /*изменяю размер заголовка */
main .features p {max-width: 450px; margin: 20px auto} /* указываю макс ширину текста + margin- доп отступы сверху и снизу 20 писк, а по бокам пусть автоматом проставляется */



