body {
    background : #f5f5dc;
}

main .features h1{
    margin-top:-50px;
}

aside {
    float: left /* расположение блока*/;
    background:#181818;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    width:25%;/* ширина блока */
    height:100vh;/* 100% высоты экрана */
    padding:2%;/* отступы блока */
    color: #fff;/* весь текст внутри блока */
    border-right : 5px solid #4d4d4d;/* обводка блока по правой стороне сплошная размером в 5 писилей с таким-то цветом */
    height: 100vh;
    }

aside p{
    font-size:30px;
    text-align: center;

}

main h3{
    font-size:22px;
}

form, #form_h1{
    margin-left: 12%;
    width: 600px;
    margin-top: 5px;
}

#det_view{
    margin-left: 32%;
    width: 700px;
    padding: 35px;
}

aside ul li .btn-info{
    font-size: 12px;
    position: relative;
    left: -25px;
    top:10px;
}

aside ul li{
    font-size:16px;
    list-style:none; /* уберем перед списком кружочки списка*/
    line-height: 2.0;/* изменить интервал между строк*/
    position: relative;
    left: 15px;
    top:5px;
    color: #fff;
    transition: transform .4s ease;/* при наведение плавно увеличивается именно для эвефекта transform(что создал я ниже)*/
}



/* добавим еффект при наведение на список hover*/
aside ul li:hover, aside ul a:hover{
    color:#a49e77;
    text-decoration: none; /* при наведение не появляется подчеркивание */
    transform: scale(1.05); /* при наведение увеличивается */

}

#about{
    width:800px;
}

/*т.к. в layout.html  есть динамичный блок main, то обращаемся к классу в index.html через его назавние */
main .features{
    margin-left: 25%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    float: left;
    margin-top: 70px;
    text-align: center; /* делаю что бы текст находился по центру */

}

.alert-dark{
    float: left;
    clear: both;
    width: 700px;
    margin: 15px 5%; /* игра с отступами */
    text-align: left; /* размещение текста в самом блоке */

}

main .features h1{font-size: 50px} /*изменяю размер заголовка */
main .features p {max-width: 650px; margin: 20px auto} /* указываю макс ширину текста + margin- доп отступы сверху и снизу 20 писк, а по бокам пусть автоматом проставляется */



